img{
    inline-size: -webkit-fill-available;
}

.card-padding{
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-card{
    width: 23rem; 
    background-color:#7B002E;
    font-family:Arial, sans-serif;
    color: #d9a79c;
}

.tn-simple{
    background-color:#7B002E;
    border: none;
}

.primary-block{
    background-color :#d9a79c; 
    font-family:Arial, sans-serif;
    color: #7B002E;
}

.secondary-block{
    background-color : #7B002E; 
    font-family:Arial, sans-serif;
    color: #d9a79c;
}

.rounded-edge{
    border-radius: 5%;
}
.social-grid{
    display: flex;
    justify-content: space-around;
    padding-top: 10;
    padding-bottom: 10;
}
.redondear{
    border-radius: 100%;
    block-size:4rem;
}

.fuente{
  color: #d9a79c;
  font-family:Arial, serif;
}